// Header section

.header {
    position: relative;
    padding: 30px 45px 20px;
    text-align: center;
    background-position: 100% 100%;
    background: linear-gradient(rgba(252, 241, 255, .9),rgba(252, 241, 255, 0.902)), url(../images/header-sec_img.jpg) no-repeat center center fixed;
    background-size: cover;
    border-bottom: 1px solid #7a00aa;
}

.header__top {
    padding-bottom: 100px;
}

.header__title {
    font-size: 34px;
    font-family: 'Montserrat-Medium', sans-serif;
    position: relative;
    padding-bottom: 10px; 
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #7a00aa;
}

.header__welcome__message {
    font-size: 28px;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 300;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #424242;
    text-transform: uppercase;
}

.header__title::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #000;
    left: calc(50% - 20px);
    bottom: 0;
    background-color: #7a00aa;
}

.inst__link, .face__link {
    margin-right: 10px;
    text-decoration: none;
}

.inst__link > img, .face__link > img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.header__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: rgba(135, 57, 168, 0.95);
    box-shadow: -12px 0px 22px -16px rgba(0, 0, 0, 0.75);
    top: 0;
    right: -440px;
    height: 100vh;
    transition: 0.2s;
    z-index: 20;
    width: 400px;
}

.header__sidebar__nav {
    padding: 0 100px;
    max-width: 220px;
}

.sidebar__nav__item {
    padding-bottom: 20px;
}

.nav__item__link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: 300;
}

.toggle__btn {
    display: flex;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    // background-color: #fff;
    top: 40px;
    left: -95px;
}

.white_logo {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 80px;
}

.active {
    right: 0 !important;
}

.header__adress {
    padding-top: 10px;
    /* padding-left: 30px; */
    padding-bottom: 70px;
    text-align: left;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #232323;
    font-size: 10px;
    font-weight: 600;
}

.header__adress > span > img {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
}

.header__bottom {
    padding-bottom: 200px;
}

.lang__btn {
    display: inline-block;
    position: absolute;
    left: calc(50% - 40px);
    bottom: 50px;
}

.lang__btn:nth-of-type(2) {
    left: calc(50%);
}

.flag--ukr {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 2px solid #424242;
    transition-duration: 0.3s;
}

.flag--ukr:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}


.flag--ru {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 2px solid #424242;
    transition-duration: 0.3s;
}

.flag--ru:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}

.purp_logo {
    width: 300px;
}

@media all and (min-width: 320px) and (max-width: 768px) {
    .header__title {
        font-size: 30px;
    }

    .header__welcome__message {
        font-size: 24px;
        width: auto;
        max-width: 225px;
    }

    .header__adress {
        width: 200px;
    }

    .header__sidebar {
        width: 100%;
        background-color: rgba(135, 57, 168, 1);
        right: -105%;
    }

    .header__sidebar__nav {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .nav__item__link {
        font-size: 18px;
    }

    .header__top {
        padding-bottom: 40px;
    }

    .header__bottom {
        padding-bottom: 120px;
    }

    .purp_logo {
        width: 200px;
    }
}